.project-main{
    padding: 20px;
    width: 100%;
    overflow: scroll;
    height: calc(100vh - 112px);
  
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.project-forms{
    display: flex;
    justify-content: space-between;
}